.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
}

table#image {
  width: 50%;
  /*border:1px solid black;*/
}

table#contact {
  width: 50%;
  border: 1px solid black;
}

table#interest {
  width: 50%;
  border: 1px solid black;
}

table#details {
  width: 50%;
  border: 1px solid black;
}

td {
  /*border:1px solid black;*/
  border: none;
}

td.head {
  background-color: rgb(129, 171, 212);
  color: white;
  font-weight: bold;
}

td.cell_one {
  background-color: rgb(198, 219, 240);
  color: rgb(84, 129, 171);
  border: none;
  font-weight: bold;
  width: 30%;
}

td.cell_two {
  background-color: rgb(224, 238, 250);
  border: none;
  /*
    width:20%;*/
}

td#side_cell {
  border: 3px solid;
  padding: 2px;
  text-align: center;
}

table td tr {
  border: 1px solid black;
}
