/* percent */
body {
  background-color: black; }

.red,
.green,
.blue {
  /* border: 1px solid black; */
  font-family: helvetica,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: transparent;
  text-align: center;
  /* margin-top: 50%; */
  font-size: 9vw;
  mix-blend-mode: screen;
  display: inline-block;
  position: absolute; }

.red:before,
.green:before,
.blue:before {
  content: "dan cigrang"; }

.red {
  -webkit-text-stroke: 5px red;
  /* border-left: 1px solid black; */
  left: 19.7%;
  top: 19.7%; }

.green {
  -webkit-text-stroke: 5px lime;
  top: 20%;
  left: 20%; }

.blue {
  -webkit-text-stroke: 5px blue;
  left: 20.3%;
  top: 20.3%; }
