/* percent */
@import url("https://fonts.googleapis.com/css?family=Denk+One|Hammersmith+One|Poppins:500");
body {
  background-color: black; }

.blue,
.green,
.red {
  /* border: 1px solid black; */
  font-family: "Poppins",Helvetica,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: transparent;
  text-align: center;
  /* margin-top: 50%; */
  font-size: 9vw;
  mix-blend-mode: screen;
  display: inline-block;
  position: absolute; }
  .blue:before,
  .green:before,
  .red:before {
    content: "dan cigrang"; }

.red {
  -webkit-text-stroke: 5px red;
  /* border-left: 1px solid black; */
  left: 19.7%;
  top: 19.7%; }

.green {
  -webkit-text-stroke: 5px lime;
  top: 20%;
  left: 20%; }

.blue {
  -webkit-text-stroke: 5px blue;
  left: 20.3%;
  top: 20.3%; }

@keyframes slidein {
  from {
    margin-top: -3%; }
  to {
    margin-top: 0%; } }

.github,
.instagram,
.twitter {
  cursor: pointer;
  font-family: "Poppins",Helvetica,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: transparent;
  /* margin-top: 50%; */
  font-size: 2vw;
  -webkit-text-stroke: 1px white; }
  .github.trail,
  .instagram.trail,
  .twitter.trail {
    animation-duration: 1s;
    animation-name: slidein; }

.github:before {
  content: "github"; }

.github:hover {
  -webkit-text-stroke: 1px red; }

.github.trail {
  -webkit-text-stroke: 1px red; }

.instagram:before {
  content: "instagram"; }

.instagram.trail {
  -webkit-text-stroke: 1px lime; }

.instagram:hover {
  -webkit-text-stroke: 1px lime; }

.twitter:before {
  content: "twitter"; }

.twitter:hover {
  -webkit-text-stroke: 1px blue; }

.twitter.trail {
  -webkit-text-stroke: 1px blue; }
