html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start here */

:root {
  --dark-blue: #003399;
  --light-blue: #6698cb;
  --body-background: #e5e5e5;
}

body {
  background-color: var(--body-background);
  font-family: verdana, arial, sans-serif, helvetica;
  font-size: 0.6rem;
  color: #000000;
}

div.top-center {
  width: 800px;
  margin: 0 auto;
  background-color: var(--dark-blue);
}

nav {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

nav > div > span::before {
  content: " | ";
}

nav > div > span:first-child::before {
  content: "";
}

.header-link:link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 0.6667rem;
}

.header-link:visited {
  color: #FFFFFF;
}

.header-link:hover {
  text-decoration: underline;
}

nav > div:nth-child(3) > span > a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
}

nav > div:nth-child(3) > span > a:hover {
  text-decoration: underline;
}

nav > div > input[type="text"] {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
}

nav > div > input[type="submit"] {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: #e0ffff;
}

div#sponsor {
  width: 800px;
  height: 96px;
  margin: 0 auto;
  background-color: var(--dark-blue);
}

div#action-links {
  width: 800px;
  margin: 0 auto;
  height: 26px;
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

div#action-links > ul > li {
  list-style: none;
  display: inline-block;
}

div#action-links > ul > li::before {
  content: " | ";
}

div#action-links > ul > li:first-child::before {
  content: "";
}

div#action-links > ul > li > .header-link:hover {
  color: #040c5c;
  text-decoration: underline;
}

div#main-content {
  width: 952px;
  margin: 0 auto;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div#bio-content {
  width: 300px;
  margin-left: 15px;
  margin-top: 15px;
  display: flex;
  flex-flow: column wrap;
  height: 210px;
  justify-content: space-around;
}

div#bio-name {
  font-size: 1rem;
  font-weight: 600;
}

div#bio-content > div > a {
  color: var(--dark-blue);
  text-decoration: none;
  font-size: 0.6667rem;
  font-weight: 600;
}

div#bio-more-pics {
  align-self: center;
  margin-top: 20px;
}

div#bio-last-login {
  margin-top: 20px;
}

div#bio-picture {
  margin-top: 20px;
}

div#announcements {
  margin-right: 100px;
  margin-top: 15px;
}

div#announcement-broadcast {
  width: 435px;
  height: 75px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#bio-more-pics {
  margin-right: 25px;
}

div#contact-actions {
  border: 2px solid var(--light-blue);
  width: 300px;
  height: 135px;
  margin-left: 15px;
  margin-top: 15px;
}

div#contact-header {
  --padding: 10px;

  height: 15px;
  width: calc(100% - var(--padding));
  color: #FFFFFF;
  background-color: var(--light-blue);
  font-size: 0.75rem;
  font-weight: 600;
  padding-left: var(--padding);
}

div#contact-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
